<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="/result">
        <label for="id_x">X</label>
        <input type="number" id="id_x" name="x"/>
        
        <label for="id_y">Y</label>
        <input type="number" id="id_y" name="y"/>

        <input type="submit" value="Add" name="action"/>
        <input type="submit" value="Mult" name="action"/>
    </form>
</body>
</html>